name: flumpose
description: A Flutter package for declarative, const-optimized UI composition with 85%+ memory reduction.
version: 0.0.9
homepage: https://github.com/alvynfash/flumpose
repository: https://github.com/alvynfash/flumpose
documentation: https://github.com/alvynfash/flumpose/blob/main/README.md

environment:
  sdk: ">=3.8.1 <4.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
